anthropic>=0.102.0
beautifulsoup4==4.14.3
datasets~=4.8.5
google-genai>=0.1.0
langchain==0.3.0
langchain-core==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
lxml==6.1.0
matplotlib>=3.10.0
nltk~=3.9.4
numpy>=1.24.0
openai~=2.34.0
openpyxl
pandas~=2.3.0
python-dotenv==1.2.2
qdrant-client
query~=0.1.4
ragas==0.3.4
ragchecker~=0.1.9
requests==2.33.1
seaborn
selenium==4.43.0
spacy==3.8.14
statsmodels~=0.14.6
tenacity
tiktoken>=0.5.0
torch~=2.12.0
transformers~=4.57.6
webdriver-manager==4.0.2
